{% extends 'JKPAdminBundle::layout.html.twig' %}
{% block header %}
    <h1>Produkty</h1>
{% endblock header %}
{% block content %}
    <div>
        <a class="btn btn-primary pull-right" href="{{ path('jkp_admin_product_new') }}"><span class="glyphicon glyphicon-plus"></span> Nowy produkt</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Adres</th>
                <th>Kategoria</th>
                <th>Cena</th>
                <th>Status</th>
                <th>Na głównej</th>
                <th>Utworzony</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>#{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.slug }}</td>
                    <td><strong>{% if product.category %}{{ product.category }}{% else %}-{% endif %}</strong></td>
                    <td><strong>{{ product.price }} ZŁ</strong></td>
                    <td>{% if product.active %}<span class="label label-success">Aktywny</span>{% else %}<span class="label label-danger">Nieaktywny</span>{% endif %}</td>
                    <td>{% if product.featured %}<span class="label label-primary">Tak</span>{% else %}<span class="label label-default">Nie</span>{% endif %}</td>
                    <td>{{ product.createdAt | date('d-m-Y') }}</td>
                    <td class="actions">
                        <form class="inline-block" action="{{ path('jkp_admin_product_switch', { 'id': product.id }) }}" method="post">
                            <button type="submit" class="btn btn-{% if product.active %}default{% else %}primary{% endif %} btn-xs"><span class="glyphicon glyphicon-{% if product.active %}ban{% else %}ok{% endif %}-circle"></span> {% if product.active %}Dezaktywuj{% else %}Aktywuj{% endif %}</button>
                        </form>
                        <a class="btn btn-warning btn-xs" href="{{ path('jkp_admin_product_edit', { 'id': product.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Edytuj</a>
                        <form class="inline-block" action="{{ path('jkp_admin_product_delete', { 'id': product.id }) }}" method="post">
                            <button type="submit" class="btn btn-danger btn-xs delete"><span class="glyphicon glyphicon-trash"></span> Usuń</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr class="table-empty-row">
                    <td colspan="7">
                        <h4><span class="glyphicon glyphicon-info-sign"></span> Nie ma żadnych produktów! Kliknij <a href="{{ path('jkp_admin_product_new') }}">tutaj</a> żeby dodać nowy produkt!</h4>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        $(function() {
            $('button.delete').click(function() {
                var $btn = $(this);

                bootbox.dialog({
                    message: 'Czy napewno chcesz usunąć ten produkt?',
                    title: 'Potwierdź decyzję',
                    buttons: {
                        no: {
                            label: 'Nie',
                            className: 'btn-default'
                        },
                        yes: {
                            label: 'Tak',
                            className: 'btn-danger',
                            callback: function() {
                                $btn.closest('form').submit();
                            }
                        }
                    }
                });

                return false;
            });
        });
    </script>
{% endblock content %}